alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
beautifulsoup4==4.12.3
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1720457958366/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001750083/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
exceptiongroup==1.2.2
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1712667726126/work
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1719325630281/work
Flask-WTF==1.2.1
frozendict==2.4.4
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1703201730631/work
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1721856510709/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1713372668944/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
lxml==5.2.2
Mako==1.3.5
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1706900018209/work
multitasking==0.0.11
newsapi-python==0.2.7
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1721965850084/work/dist/numpy-2.0.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=20a11c9d1f28106fe483db8857a21942523152a8e3d2c2a1f05f83f2ba2838d2
openai==1.37.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897641697/work
peewee==3.17.6
platformdirs==4.2.2
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1721758163679/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.8.2
pydantic_core==2.20.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1718781144688/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1720351771156/work
tqdm==4.66.4
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1715000201436/work
WTForms==3.1.2
yfinance==0.2.41
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
zstandard==0.22.0
